@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0); }
  to {
    opacity: 1;
    transform: none; } }

.login {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
  display: flex;
  flex: 1; }
  .login *, .login :after, .login :before {
    box-sizing: border-box; }
  .login .fl {
    float: left; }
  .login .fr {
    float: right; }
  .login .clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  .login .clearfix {
    display: inline-block; }
  .login * html .clearfix {
    height: 1%; }
  .login .clearfix {
    display: block; }
  .login ul li:hover {
    background: #f63;
    cursor: pointer; }

