.tabbar{
    height: 68px;
    top:0;
    width:100%;
    /*padding: 5px 0;*/
    border:1px solid rgba(204,204,204,0.43);
    text-align: center;
    background-color: #3f51b5 ;
}
.tabbar-chilren{
    top: 70px;
    position: absolute;
    width: 100%;
}
.tabbar-content{
    display:flex;
}
.tabbar-item{
    color:#fff ;
    flex:1;        /*每个元素均分的*/
}
.active{
    color: rgb(220, 0, 78) !important;
}
a{
    color:#3f51b5 ;
}
a:hover{
    color:rgb(220, 0, 78) ;
}

